@font-face {
  font-family: PP mori;
  src: url(Fonts/ppmori.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: PP mori;
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
}

#purple {
  height: 100vh;
  width: 100vw;
  top: 0;
  position: fixed;
  z-index: 100;
  opacity: 0;
  display: none;
  transition: opacity ease 1s;
}

.cursor {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: fixed;
  background-color: #edbfff;
  z-index: 8;
  transition: background-image ease 0.5s;
  background-position: center;
  background-size: cover;
  mix-blend-mode: difference;
}

.main {
  background-color: #0f0d0d;
  cursor: none;
  margin-bottom: 4rem;
}

.page1 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  z-index: 9;
  padding-top: 12vw;
}

#nav {
  height: 55px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  position: fixed;
  mix-blend-mode: difference;
  z-index: 102;
}

#nav img {
  height: 27px;
}

#nav-part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#nav #circle {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: #fff;
}

#nav h4 {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

#nav h4:nth-child(1) {
  border-bottom: 1.5px solid #fff;
}

.page1 h1 {
  font-size: 8vw;
  font-weight: 300;
  font-family: PP mori;
  margin-left: 6vw;
  transform-origin: left;
}

.page1 h1 .highlight {
  color: black;
  background-color: yellow; /* Added background color to the span */
  font-weight: 600;
  padding-top: .6rem;
  padding-right: .75rem;
  padding-left: .75rem;
  border-radius: .75rem;
}

.page1 h2 {
  font-size: 8vw;
  font-weight: 300;
  transform-origin: left;
  margin-left: 26vw;
}

.page1 video {
  width: 60%;
  margin-top: 10vw;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.page2 {
  min-height: 80vh;
  width: 100%;
  padding: 100px 5vw;
  border-bottom: 2px solid #6c6c6c;
  position: relative;
  z-index: 9;
}

.page2 h1 {
  font-size: 7vw;
  font-weight: 500;
  color: #111;
  margin-bottom: -3rem;
}

.page2-container {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.page2-left h2 {
  font-size: 4vw;
  font-weight: 300;
  color: #111;
  line-height: 4vw;
  margin-top: 0;
  margin-bottom: 1rem;
}

.page2-right p {
  font-size: 28px;
  color: #111;
}

.page2-right button {
  width: 20%;
  border-radius: 50px;
  border: none;
  padding: 0.75rem;
  background-color: #000000;
  color: #ffffff;
  margin-top: 2rem;
  font-size: 1.5rem;
}

.footer {
  height: 100px;
  padding: 0 20px;
  border-top: 2px solid #dadada;
  background-color: #f8f8f8;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-content {
  width: 100%;
}

.footer p {
  margin: 0;
  color: #333;
}